{% extends 'base_layout.html' %} {% block body %}
<html>

<head>
    <title>Currency Report</title>
</head>
<main>
    <section class="mt-5 ">
        <div class="container">
            <form>
                <input type="text" name="query" placeholder="country search">
                <input type="submit" value="Submit">
            </form>
            <hr class="my-5">

            <!--Section: Main info-->
            <section class="mt-5">
                <div class="card" style="padding: 20px; border-radius: 1rem; text-align:center;">
                    {% for item in data %}
                    <p1> {{item.country}} </p1>

                    {% endfor %}
                </div>
            </section>
        </div>
    </section>
    <!--Section: Main info-->
</main>

</html>
{% endblock %}