{% extends 'base_layout.html' %} {% block body %}
<html>

<head>
    <title>Currency Report</title>
</head>
<main>
    <section class="mt-5 ">
        <div class="container">

            <hr class="my-5">

            <!--Section: Main info-->
            <section class="mt-5">
                <div class="card" style="padding: 20px; border-radius: 1rem; text-align:center;">
                    <h1 style="text-align:center">Currency</h1>
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Country</th>
                                <th scope="col">Currency</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(total) %}
                            <tr>
                                
                                <th> {{data.country[i]}}</th>
                                <th> {{data.currency[i]}} </th>
                            </tr>
                            {% endfor %}

                            
                        </tbody>
                    </table>
                    


                </div>
            </section>
        </div>
    </section>
    <!--Section: Main info-->
</main>

</html>
{% endblock %}